/* ------- import -------- */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* ------- fonts -------- */
* {
    font-family: 'Pretendard-Regular';
}

/* ------- common -------- */
a {
    transition: all 0.3s ease-in-out;
}

a:link, a:visited {
    text-decoration: none;
}

/* ------- customize button color -------- */
.btn-primary {
    color: #fff;
    background-color: #343DDB;
    border-color: #343DDB;
}

.btn-primary:hover{
    color: #fff;
    background-color: #252dce;
    border-color: #252dce;
}

.btn-outline-primary {
    color: #343DDB;
    border-color: #343DDB;
}

.btn-outline-primary:hover{
    color: #fff;
    background-color: #343DDB;
    border-color: #343DDB;
}

.btn-info {
    color: #fff;
    background-color: #343DDB;
    border-color: #343DDB;
}

.btn-info:hover{
    color: #fff;
    background-color: #252dce;
    border-color: #252dce;
}

/* ------- customize table-striped color -------- */
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #dadada00
}

/* ------- customize pagination -------- */
.pagination ul li a {
    color: #343DDB;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    padding-top: 8px;
    font-size: 14px;
}

  .pagination ul li a:hover {
    background: #343DDB;
    color: #fff;
}

  .pagination ul li a.active {
    background: #343DDB;
    color: #fff;
    border-color: #343DDB;
}