<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
   
  <configuration>
  
    <typeAliases>
  		<typeAlias type="com.team.cwl.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.team.cwl.member.RoleDTO" alias="RoleDTO"/>
  		
  		<typeAlias type="com.team.cwl.cart.CartDTO" alias="CartDTO"/>
  		
  		<typeAlias type="com.team.cwl.order.OrderDTO" alias="OrderDTO"/>
  		<typeAlias type="com.team.cwl.order.OrderCancelDTO" alias="OrderCancelDTO"/>
  		<typeAlias type="com.team.cwl.order.OrderItemDTO" alias="OrderItemDTO"/>
  		<typeAlias type="com.team.cwl.order.OrderPageDTO" alias="OrderPageDTO"/>
  		<typeAlias type="com.team.cwl.order.OrderPageItemDTO" alias="OrderPageItemDTO"/>
  		
  		<typeAlias type="java.lang.Long" alias="Long"/>
  	</typeAliases>
  	
  </configuration>