<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
   
  <configuration>

    <typeAliases>
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		
  		<typeAlias type="com.team.cwl.board.BoardDTO" alias="BoardDTO"/>
  		<typeAlias type="com.team.cwl.board.comment.BoardCommentDTO" alias="BoardCommentDTO"/>
  		
  		<typeAlias type="com.team.cwl.product.ProductDTO" alias="ProductDTO"/>
  		<typeAlias type="com.team.cwl.product.ProductImgDTO" alias="ProductImgDTO"/>
  		<typeAlias type="com.team.cwl.product.qna.ProductQnADTO" alias="ProductQnADTO"/>
  		<typeAlias type="com.team.cwl.product.review.ProductReviewDTO" alias="ProductReviewDTO"/>
  		
  		<typeAlias type="com.team.cwl.lesson.LessonDTO" alias="LessonDTO"/>
  		<typeAlias type="com.team.cwl.lesson.review.LessonReviewDTO" alias="LessonReviewDTO"/>
  		
  		<typeAlias type="com.team.cwl.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.team.cwl.member.RoleDTO" alias="RoleDTO"/>
  		
  		<typeAlias type="com.team.cwl.util.Pagination" alias="Pagination"/>
  	</typeAliases>
  </configuration>