<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
   
  <configuration>
  
    <typeAliases>
  		<!-- 공용 -->
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		
  		<!-- 혜진 -->
  		<typeAlias type="com.team.cwl.board.BoardDTO" alias="BoardDTO"/>
  		<typeAlias type="com.team.cwl.board.comment.BoardCommentDTO" alias="BoardCommentDTO"/>
  		
  		<typeAlias type="com.team.cwl.product.ProductDTO" alias="ProductDTO"/>
  		<typeAlias type="com.team.cwl.product.ProductImgDTO" alias="ProductImgDTO"/>
  		<typeAlias type="com.team.cwl.product.qna.ProductQnADTO" alias="ProductQnADTO"/>
  		<typeAlias type="com.team.cwl.product.review.ProductReviewDTO" alias="ProductReviewDTO"/>
  		<typeAlias type="com.team.cwl.product.review.ProductReviewImgDTO" alias="ProductReviewImgDTO"/>
  		
  		<typeAlias type="com.team.cwl.lesson.LessonDTO" alias="LessonDTO"/>
  		<typeAlias type="com.team.cwl.lesson.LessonImgDTO" alias="LessonImgDTO"/>
  		<typeAlias type="com.team.cwl.lesson.review.LessonReviewDTO" alias="LessonReviewDTO"/>
  		
  		<typeAlias type="com.team.cwl.util.Pagination" alias="Pagination"/>
  		
  		<!-- 우희 -->
  		<typeAlias type="com.team.cwl.member.MemberDTO" alias="MemberDTO"/>
  		
  		<typeAlias type="com.team.cwl.cart.CartDTO" alias="CartDTO"/>
  		
  		<typeAlias type="com.team.cwl.order.OrderDTO" alias="OrderDTO"/>
  		<typeAlias type="com.team.cwl.order.OrderCancelDTO" alias="OrderCancelDTO"/>
  		<typeAlias type="com.team.cwl.order.OrderItemDTO" alias="OrderItemDTO"/>
  		<typeAlias type="com.team.cwl.order.OrderPageDTO" alias="OrderPageDTO"/>
  		<typeAlias type="com.team.cwl.order.OrderPageItemDTO" alias="OrderPageItemDTO"/>
  	
  		<!--  하영  -->
  		<typeAlias type="com.team.cwl.chat.ChatDTO" alias="ChatDTO"/>
  		
  	</typeAliases>
  	
  </configuration>