.inner-box {
    position: relative;
}
  
.inner-box .image {
    position: relative;
    overflow: hidden;
}
  
.inner-box .image img {
    position: relative;
    height: 250px;
    object-fit: cover;
    display: block;
    transition: all 0.3s;
}
  
.inner-box .image .overlay-box {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
    opacity: 0;
    display: block;
    transition: all 0.6s ease;
    overflow: hidden;
}
  
.inner-box .image .overlay-box:before {
    position: absolute;
    content: "";
    left: -450px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    transition: all 0.4s;
    background-color: rgba(47, 50, 56, 0.8);
}
  
.inner-box:hover .image img {
    transform: scale(1.1);
}
  
.inner-box:hover .image .overlay-box:before {
    opacity: 1;
    left: 0px;
}
  
.inner-box:hover .image .overlay-box {
    opacity: 1;
}
  
.inner-box:hover .image .overlay-box .overlay-content h5 {
    transform: translateX(0px);
}
  
.inner-box:hover .image .overlay-box .overlay-content p {
    transform: translateX(0px);
}
  
.inner-box .image .overlay-box .overlay-inner {
    position: absolute;
    left: 0px;
    bottom: 30px;
    z-index: 1;
    padding: 10px 40px;
}
  
.inner-box .image .overlay-box .overlay-inner .overlay-content i {
    font-size: 28px;
}

.overlay-content h5 {
    text-transform: capitalize;
    color: #333333;
    background: rgba(255, 255, 255, 0.9);
    padding: 0px 8px;
    margin-bottom: 0px;
    transform: translateX(-150px);
    transition: all 0.3s;
}

.overlay-content p {
    font-size: 14px;
    margin-bottom: 0px;
    padding: 0px 8px;
    margin-top: 2px;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.9);
    color: #2f3238;
    transform: translateX(-150px);
    transition: all 0.5s;
}