<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.cwl.board.comment.BoardCommentDAO">

	<!-- SELECT -->
	<select id="getBoardCommentList" resultType="BoardCommentDTO" parameterType="Pagination">
		SELECT * FROM
  		(
	  		SELECT ROWNUM R, C.* FROM
		  		(
		  			SELECT * FROM BOARDCOMMENT 
		  			WHERE BOARDNUM = #{boardNum}
		  			ORDER BY BOARDCOMMENTREF ASC, BOARDCOMMENTDEPTH ASC, BOARDCOMMENTSTEP DESC
		  		) C
		  	
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getBoardCommentDetail" resultType="BoardCommentDTO" parameterType="BoardCommentDTO">
		SELECT * FROM BOARDCOMMENT
  		WHERE BOARDCOMMENTNUM = #{boardCommentNum}
	</select>
	
	<select id="getTotalCount" resultType="Long" parameterType="Pagination">
		SELECT COUNT(BOARDCOMMENTNUM) FROM BOARDCOMMENT
		WHERE BOARDNUM = #{boardNum}
	</select>
	
	<!-- INSERT -->
	<insert id="setBoardCommentAdd" parameterType="BoardCommentDTO">
		<selectKey keyProperty="boardCommentNum" resultType="Long" order="BEFORE">
  			SELECT BOARDCOMMENT_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
		INSERT INTO BOARDCOMMENT
		VALUES (#{boardCommentNum}, #{boardNum}, #{memberId}, #{boardCommentContents}, SYSDATE, #{boardCommentNum}, 0, 0)
	</insert>
	
	<insert id="setBoardCommentReplyAdd" parameterType="BoardCommentDTO">
		INSERT INTO BOARDCOMMENT
		VALUES (BOARDCOMMENT_SEQ.NEXTVAL, #{boardNum}, #{memberId}, #{boardCommentContents}, SYSDATE, #{boardCommentRef}, #{boardCommentStep}, #{boardCommentDepth})
	</insert>
	
	<!-- UPDATE -->
	<update id="setBoardCommentUpdate" parameterType="BoardCommentDTO">
		UPDATE BOARDCOMMENT SET BOARDCOMMENTCONTENTS = #{boardCommentContents}
		WHERE BOARDCOMMENTNUM = #{boardCommentNum}
	</update>
	
	<update id="setStepUpdate" parameterType="BoardCommentDTO">
		UPDATE BOARDCOMMENT SET BOARDCOMMENTSTEP = BOARDCOMMENTSTEP + 1
		WHERE BOARDCOMMENTREF = #{boardCommentRef} AND BOARDCOMMENTSTEP > #{boardCommentStep}
	</update>
	
	<update id="setBoardCommentCountAdd" parameterType="Long">
		UPDATE BOARD SET BOARDCOMMENTCOUNT = BOARDCOMMENTCOUNT + 1
		WHERE BOARDNUM = #{boardNum}
	</update>
	
	<update id="setBoardCommentCountDelete" parameterType="Long">
		UPDATE BOARD SET BOARDCOMMENTCOUNT = BOARDCOMMENTCOUNT - 1
		WHERE BOARDNUM = #{boardNum}
	</update>
	
	<!-- DELETE -->
	<delete id="setBoardCommentDelete" parameterType="BoardCommentDTO">
		DELETE BOARDCOMMENT
		WHERE BOARDCOMMENTNUM = #{boardCommentNum}
	</delete>

</mapper>