<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.cwl.board.comment.BoardCommentDAO">

	<!-- SELECT -->
	<select id="getBoardCommentList" resultType="BoardCommentDTO" parameterType="Pagination">
		SELECT * FROM
  		(
	  		SELECT ROWNUM R, C.* FROM
		  		(
		  			SELECT * FROM BOARDCOMMENT 
		  			WHERE BOARDNUM = #{boardNum}
		  			ORDER BY BOARDCOMMENTDATE ASC
		  		) C
		  	
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
	
	<select id="getTotalCount" resultType="Long" parameterType="Pagination">
		SELECT COUNT(BOARDCOMMENTNUM) FROM BOARDCOMMENT
		WHERE BOARDNUM = #{boardNum}
	</select>
	
	<!-- INSERT -->
	<insert id="setBoardCommentAdd" parameterType="BoardCommentDTO">
		<selectKey keyProperty="boardCommentNum" resultType="Long" order="BEFORE">
  			SELECT BOARDCOMMENT_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
		INSERT INTO BOARDCOMMENT
		VALUES (#{boardCommentNum}, #{boardNum}, #{memberId}, #{boardCommentContents}, SYSDATE)
	</insert>
	
	<!-- UPDATE -->
	<update id="setBoardCommentUpdate" parameterType="BoardCommentDTO">
		UPDATE BOARDCOMMENT SET BOARDCOMMENTCONTENTS = #{boardCommentContents}
		WHERE BOARDCOMMENTNUM = #{boardCommentNum}
	</update>
	
	<!-- DELETE -->
	<delete id="setBoardCommentDelete" parameterType="BoardCommentDTO">
		DELETE BOARDCOMMENT
		WHERE BOARDCOMMENTNUM = #{boardCommentNum}
	</delete>

</mapper>