<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.cwl.cart.CartDAOImpl">
	<insert id="setCartAdd" parameterType="CartDTO">
		INSERT INTO CART (CARTNUM, PRODUCTNUM, MEMBERID, CARTAMOUNT)
		VALUES (CART_SEQ.NEXTVAL, #{productNum}, #{memberId}, #{cartAmount})
	</insert>
	
	<select id="getCartList" resultType="CartDTO">
		SELECT CARTNUM, P.PRODUCTNUM, C.MEMBERID, PRODUCTNUM, CARTAMOUNT, PRODUCTPRICE, (PRODUCTPRICE*CARTAMOUNT) MONEY 
		FROM MEMBER M, CART C, PRODUCT P
		WHERE M.MEMBERID=C.MEMBERID AND C.PRODUCTNUM=P.PRODUCTNUM AND C.MEMBERID=#{memberId} ORDER BY CARTNUM
	</select>
	
	<select id="sumMoney" resultType="Long">
		SELECT NVL(SUM(PRODUCTPRICE * CARTAMOUNT),0)
		FROM CART C, PRODUCT P
		WHERE C.PRODUCTNUM=P.PRODUCTNUM AND MEMBERID=#{memberId}
	</select>
	
	<delete id="delete">
		DELETE FROM CART WHERE CARTNUM=#{cartNum}
	</delete>
	
	<delete id="deleteAll">
		DELETE FROM CART WHERE MEMBERID=#{memberId}
	</delete>
	
	
</mapper>

