<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.team.cwl.cart.CartMapper">

	<!-- 카트 추가 -->
	<insert id="cartAdd" parameterType="CartDTO">
		INSERT INTO CART(MEMBERID, PRODUCTNUM, ORDERSTOCK)
		VALUES (#{memberId}, #{productNum}, #{orderStock}) 
	</insert>
	
	<!-- 카트 삭제 -->
	<delete id="cartDelete" parameterType="CartDTO">
		DELETE CART WHERE CARTNUM = #{cartNum}
	</delete>
	
	<!-- 카트 수량 수정 -->
	<update id="modifyCount" parameterType="CartDTO">
		UPDATE CART SET ORDERSTOCK = #{orderStock}
		WHERE CARTNUM = #{cartNum}
	</update>
	
	<!-- 카트 목록 --> 
	<select id="cartList" resultType="CartDTO">
		SELECT A.CARTNUM, A.MEMBERID, A.PRODUCTNUM, A.ORDERSTOCK, P.PRODUCTNAME, P.PRODUCTPRICE
		FROM CART A
		LEFT OUTER JOIN
		PRODUCT P ON A.PRODUCTNUM = P.PRODUCTNUM
		WHERE A.MEMBERID = #{memberId}
	</select>
	
	<!-- 카트 확인 -->
	<select id="checkCart" resultType="com.team.cwl.cart.CartDTO">
		SELECT * FROM CART
		WHERE MEMBERID = #{memberId} AND PRODUCTNUM = #{productNum}
	</select>	
	
	<delete id="deleteOrderCart" parameterType="com.team.cwl.cart.CartDTO">
		DELETE CART WHERE MEMBERID = #{memberId} AND PRODUCTNUM = #{productNum}
	</delete>	
	
	
  </mapper>
